	<div class="main-content">
		<div class="main-content-inner">
			<div class="breadcrumbs ace-save-state" id="breadcrumbs">
				<ul class="breadcrumb">
					<li>
						<i class="ace-icon fa fa-home home-icon"></i>
						<a href="#">Home</a>
					</li>

					<li>
						<a href="#">Relatórios</a>
					</li>
					<li class="active">Enviar relatório</li>
				</ul><!-- /.breadcrumb -->

				<div class="nav-search" id="nav-search">
					<form class="form-search">
						<span class="input-icon">
							<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
							<i class="ace-icon fa fa-search nav-search-icon"></i>
						</span>
					</form>
				</div><!-- /.nav-search -->
			</div>

			<div class="page-content">



				<div class="row">
					<div class="col-xs-12">
						<!-- PAGE CONTENT BEGINS -->



						<div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="platform">Selecione o requisito</label>

                  <div class="col-sm-9 col-xs-7">
                    <div class="clearfix">
                      <select class="input-large" id="platform" name="platform" >
                        <option value="">Selecione o requisito</option>
                        <option value="linux">Linux</option>
                      </select>
                    </div>
                  </div>
                </div>
                <br>

                <div class="form-group">
                  <label class="control-label col-xs-12 col-sm-3 no-padding-right" for="platform">Selecione a classe</label>

                  <div class="col-sm-9 col-xs-7">
                    <div class="clearfix">
                      <select class="input-large" id="platform" name="platform" >
                        <option value="">Selecione a classe</option>
                        <option value="amigo">Amigo</option>
                        <option value="companheiro">Companheiro</option>
                        <option value="pesquisador">Pesquisador</option>
                        <option value="pioneiro">Pioneiro</option>
                        <option value="excurcionista">Excurcionista</option>
                        <option value="guia">Guia</option>
                      </select>
                    </div>
                  </div>
                </div>


								<h4 class="header green">Enviar relatório</h4>


								<div class="widget-box widget-color-blue">


									<div class="widget-header"></div>

									<div class="widget-body">
										<div class="widget-main no-padding">
											<textarea placeholder="Digite seu relatório aqui" class="col-sm-12" name="content" data-provide="markdown" ng-model="text" data-iconlibrary="fa" rows="10"></textarea>
										</div>

										<div class="widget-toolbox padding-4 clearfix">
											<div class="btn-group pull-left">
												<button class="btn btn-sm btn-info">
													<i class="ace-icon fa fa-times bigger-125"></i>
													Cancel
												</button>
											</div>

											<div class="btn-group pull-right">
												<button class="btn btn-sm btn-purple">
													<i class="ace-icon fa fa-floppy-o bigger-125"></i>
													Save
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<!-- PAGE CONTENT ENDS -->
					</div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.page-content -->
		</div>
	</div><!-- /.main-content -->




</div><!-- /.main-container -->

<!-- basic scripts -->
