<div class="row">
	<div class="col-xs-12">

		<div class="clearfix">
			<div class="pull-right tableTools-container"></div>
		</div>

		<div class="row">
			<div class="col-xs-12">
				<h3 class="header smaller lighter green">Clube Reino  Floral</h3>

				<ul class="ace-thumbnails clearfix">
					<li>
						<a href="#!/relatorios" title="Photo Title" data-rel="colorbox">
							<img width="150" height="150" alt="150x150" src="../assets/images/menu/relatorios.jpg" />

						</a>
					</li>

					<li>
						<a href="#!/quizcdrf" title="Photo Title" data-rel="colorbox">
							<img width="150" height="150" alt="150x150" src="../assets/images/menu/quiz.jpg" />
						</a>
					</li>

					<li>
						<a href="#!/especialidades" title="Photo Title" data-rel="colorbox">
							<img width="150" height="150" alt="150x150" src="../assets/images/placeholder/255x150.png" />
						</a>
						ESPECIALIDADES
					</li>


					<li>
						<a href="#" title="Photo Title" data-rel="colorbox">
							<img width="150" height="150" alt="150x150" src="../assets/images/placeholder/255x150.png" />
						</a>
						CLASSES
					</li>

					<li>
						<a href="#" title="Photo Title" data-rel="colorbox">
							<img width="150" height="150" alt="150x150" src="../assets/images/menu/config.jpg" />
						</a>
					</li>

				</ul>

				<h3 class="header smaller lighter green">Diretoria</h3>

				<ul class="ace-thumbnails clearfix">

					<li>
						<a href="#!/cargos" title="Photo Title" data-rel="colorbox">
							<img width="150" height="150" alt="150x150" src="../assets/images/placeholder/255x150.png" />
						</a>
						CARGOS
					</li>

				</ul>

				<h3 class="header smaller lighter green">Secretaria</h3>

				<ul class="ace-thumbnails clearfix">

					<li>
						<a href="#!/" title="Photo Title" data-rel="colorbox">
							<img width="150" height="150" alt="150x150" src="../assets/images/placeholder/255x150.png" />
						</a>
						ADICIONAR UNIDADE
					</li>

					<li>
						<a href="#!/" title="Photo Title" data-rel="colorbox">
							<img width="150" height="150" alt="150x150" src="../assets/images/placeholder/255x150.png" />
						</a>
						FREQUÊNCIA
					</li>

					<li>
						<a href="#!/" title="Photo Title" data-rel="colorbox">
							<img width="150" height="150" alt="150x150" src="../assets/images/placeholder/255x150.png" />
						</a>
						DOCUMENTAÇÃO
					</li>

				</ul>



				<h3 class="header smaller lighter green">Administrativo</h3>

			</div>
		</div>

	</div>
</div>
