<div class="row">
	<div class="col-xs-12">
		<h3 class="header smaller lighter green">Pergunta do Quiz CDRF</h3>

		<h4 class="smaller lighter blue text-center">Perguntas do Quiz CDRF</h4>

			<div class="space-4"></div>

			<div class="radio text-center">
				<label>
					<input name="form-field-radio" type="radio" class="ace input-lg" />
					<span class="lbl bigger-120"> Opção 1</span>
				</label>
			</div>

			<div class="space-4"></div>

			<div class="radio text-center">
				<label>
					<input name="form-field-radio" type="radio" class="ace input-lg" />
					<span class="lbl bigger-120"> Opção 2</span>
				</label>
			</div>

			<div class="space-4"></div>

			<div class="radio text-center">
				<label>
					<input name="form-field-radio" type="radio" class="ace input-lg" />
					<span class="lbl bigger-120"> Opção 3</span>
				</label>
			</div>

			<div class="space-4"></div>

			<div class="radio text-center">
				<label>
					<input name="form-field-radio" type="radio" class="ace input-lg" />
					<span class="lbl bigger-120"> Opção 4</span>
				</label>
			</div>

		<div class="text-center">
			<button class="btn btn-app btn-success"><i class="ace-icon fa fa-check-square-o bigger-230"></i>Responder</button>
			<button class="btn btn-app btn-warning"><i class="ace-icon fa fa-undo bigger-230"></i>Resetar</button>
		</div>
	</div>
</div>