<div class="breadcrumbs ace-save-state" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>

		<li>
			<a href="#">Quiz CDRF</a>
		</li>
		<li class="active">Perguntas Quiz</li>
	</ul><!-- /.breadcrumb -->

	<div class="nav-search" id="nav-search">
		<span class="input-icon">
			<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" ng-model="searchDoc"/>
			<i class="ace-icon fa fa-search nav-search-icon"></i>
		</span>
	</div><!-- /.nav-search -->
</div>

<div class="row">
	<div class="col-xs-12">
		<h3 class="header smaller lighter blue">Tabela de perguntas</h3>

		<div class="clearfix">
			<div class="pull-right tableTools-container"></div>
		</div>
		<div class="table-header" ng-if="searchDoc">
			{{"O resultado da pesquisa: " + searchDoc}}
		</div>

		<!-- div.table-responsive -->

		<!-- div.dataTables_borderWrap -->
		<div>
			<table id="dynamic-table" class="table table-striped table-bordered table-hover">
				<thead>
					<tr>
						<th class="center">
							<label class="pos-rel">
								<input type="checkbox" class="ace" ng-model="itemToggle" ng-click="selecionarTodos(lista)"/>
								<span class="lbl"></span>
							</label>
						</th>
						<th>Pergunta</th>

						<th>
							<i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
							Horário da pergunta
						</th>
						<th class="hidden-480">Status</th>

						<th>Ações</th>
					</tr>
				</thead>

				<tbody>
					<tr ng-repeat="item in lista | filter: searchDoc ">
						<td class="center">
							<label class="pos-rel">
								<input type="checkbox" class="ace" ng-model="item.selected"/>
								<span class="lbl"></span>
							</label>
						</td>

						<td>
							<a href="#">Pai de adão</a>
						</td>
						<td>29/04/2014</td>

						<td class="hidden-480">
							<span  ng-class="item.status ? 'label label-sm label-success' : 'label label-sm label-warning'">{{item.status ? 'Assinado' : 'Pendente'}}</span>
						</td>

						<td>
							<div class="hidden-sm hidden-xs action-buttons">
								<a class="blue" href="#">
									<i class="ace-icon fa fa-search-plus bigger-130"></i>
								</a>

								<a class="green" href="#" ng-click="mudaStatus(item)">
									<i class="ace-icon fa fa-pencil bigger-130"></i>
								</a>

								<a class="red" href="#" data-toggle="modal" data-target="#confirmDelete">
									<i class="ace-icon fa fa-trash-o bigger-130"></i>
								</a>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

